@{
    ViewData["Title"] = "Payment Method";
}


<section id="payment-method">
    <div class="container">
        <p class="payment-title">Payment</p>
        <div class="payment-item-object" onclick="toggleActive(this)">
            <div class="payment-image">
                @* <img src="@(Model.Product.Images?.FirstOrDefault() ?? "")" alt="Product Image" /> *@

            </div>
            <img class="payment-image-creditcard" src="~/images/order/mastercard-icon.svg" />
            <div class="payment-item-specifications" data-item="creditcard">
                <p class="payment-item-p">Credit Card</p>
            </div>
        </div>
        <div class="payment-item-object" data-item="paypal" onclick="toggleActive(this)">
            <div class="payment-image">
                @* <img src="@(Model.Product.Images?.FirstOrDefault() ?? "")" alt="Product Image" /> *@

            </div>
            <img class="payment-image-paypal" src="~/images/order/paypal-icon.svg" />
            <div class="payment-item-specifications">
                <p class="payment-item-p">Paypal</p>
            </div>        
        </div>
        <div class="payment-item-object" data-item="visa" onclick="toggleActive(this)">
            <div class="payment-image">
                @* <img src="@(Model.Product.Images?.FirstOrDefault() ?? "")" alt="Product Image" /> *@

            </div>
            <img class="payment-image-visa" src="~/images/order/visa-icon.svg" />
            <div class="payment-item-specifications">
                <p class="payment-item-p">Visa</p>
            </div>
        </div>
        <div class="payment-item-object" data-item="googlepay" onclick="toggleActive(this)">
            <div class="payment-image">
                @* <img src="@(Model.Product.Images?.FirstOrDefault() ?? "")" alt="Product Image" /> *@

            </div>
            <img class="payment-image-googlepay" src="~/images/order/google-pay-icon.svg" />
            <div class="payment-item-specifications">
                <p class="payment-item-p">Google Pay</p>
            </div>
        </div>

        @*  OBS! Controller valt kort alternativ innan routing sker *@ 
            <a asp-controller="ShoppingCart" asp-action="PaymentDetails" class="btn-theme-red-general">Pay</a>

    </div>
</section>


<script>
    // function toggleActive(radio) {
    //     Remove active class from all items
    //     document.querySelectorAll('.payment-item-object').forEach(item => {
    //         item.classList.remove('active');
    //     });

    //     Add active class to the current radio's parent `.payment-item-object`
    //     radio.closest('.payment-item-object').classList.add('active');
    // }
    function toggleActive(element) {
        // Ta bort 'active' från alla andra alternativ
        document.querySelectorAll('.payment-item-object').forEach(item => {
            item.classList.remove('active');
        });

        // Lägg till 'active' på det klickade elementet
        element.classList.add('active');
    }


</script>



